.root {
  height: var(--app-height);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10rem;
  padding: 2rem;
  overflow: hidden;


  @media(max-width: 1550px) {
    gap: 4rem;
  }

  @media(max-width: 470px) {
    padding: 2rem 1.5rem 3rem 1.5rem;
  }
}

  .logo-container-sign-up {
    z-index: 1;
    position: absolute;
    top: 2rem;
    left: 3rem;
    display: flex;
    justify-content: flex-start;
    gap: .5rem; 
    cursor: pointer;
  
    @media(max-width: 560px) {
      left: 1.5rem;
    }
}

.confirm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .confirm-h1 {
    display: flex;

  }

.confirm-text-container {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  border-radius: 6px;
  background-color: #263245;

  
}

  @media(max-width: 1200px) {
    position: unset;
    order: -1;
  }

  @media(max-width: 640px) {
    flex-direction: column;
    gap: 1rem;
  }
}

.bubbleOne {
  position: absolute;
  top: 60%;
  right: 80%;

  @media (max-width: 1920px) {
    right: 70%;
  }

  @media (max-width: 640px) {
    width: 165px;
    height: auto;
    top: 67%;
    right: 79%;
    opacity: .4;
  }
}

.bubbleTwo {
  position: absolute;
  bottom: 80%;
  left: 70%;
  height: auto;
  width: 400px;

  @media (max-width: 640px) {
    width: 400px;
    left: 50%;
    bottom: 70%;
    opacity: .4;
  }
}

.bubbleThree {
  position: absolute;
  top: 80%;
  right: 10%;
  height: auto;
  width: 150px;
  
  @media (max-width: 640px) {
    width: 65px;
    top: 75%;
    left: 75%;
    opacity: .4;
  }
}

