/* @font-face {
  font-family: 'Sansation';
  src:  url('../public/assets/fonts/sansation/Sansation_Light.ttf');
} */

@font-face {
  font-family: 'Sansation';
  src:  url('../public/assets/fonts/sansation/Sansation_Regular.ttf');
}

/* @font-face {
  font-family: 'Sansation';
  src:  url('../public/assets/fonts/sansation/Sansation_Bold.ttf');
} */

:root {
  --app-height: 100%;

  --primary-blue: #4696F3;
  --inactive-blue: #A6CAF3; 
  --light-blue: #E9F3FF;
  --dark-blue: #2169BE;
  --bg: #11161D;
  --white: #fafafa;
  --light-grey: #CED5DF;
  --border-grey: #6E7682;
  --card-bg: #1F2631;
  --error-red: #E37E7E;
  --text-grey: #C0C1C3;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Sansation, Helvetica Neue, sans-serif;
  color: var(--white);
  background-color: var(--bg);

  height: 100vh;

  @media not all and (hover:hover) {
    height: var(--app-height);
  }

  scrollbar-color: blue white;
  scrollbar-width: thin;
}

/* WebKit and Chromiums */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--card-bg);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #2f3e54;
  border-radius: 5px;
}

button {
  font-family: Sansation, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  font-family: Sansation, Helvetica Neue, sans-serif;
}
