@font-face {
  font-family: 'Sansation';
  src:  url('../public/assets/fonts/sansation/Sansation_Light.ttf');
}

@font-face {
  font-family: 'Sansation';
  src:  url('../public/assets/fonts/sansation/Sansation_Regular.ttf');
}

@font-face {
  font-family: 'Sansation';
  src:  url('../public/assets/fonts/sansation/Sansation_Bold.ttf');
}

:root {
  --primary-blue: #4696F3;
  --light-blue: #E9F3FF;
  --dark-blue: #2169BE;
  --dark: #263245;
  --white: #fafafa;
  --light-grey: #CED5DF;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Sansation, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}
