.root {
    height: var(--app-height);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10rem;
    padding: 2rem;
 
  
    @media(max-width: 1550px) {
      gap: 4rem;
    }
  
    @media(max-width: 1200px) {
      gap: 0;
      flex-direction: column;
      justify-content: space-between;
    }
  
    @media(max-width: 470px) {
      padding: 2rem 1.5rem 3rem 1.5rem;
    }
  }


  .logo-container-sign-up {
    z-index: 1;
    position: absolute;
    top: 2rem;
    left: 3rem;
    display: flex;
    justify-content: start;
    gap: .5rem; 

    @media(max-width: 1200px) {
      position: unset;
      order: -1;
    }
  
    @media(max-width: 640px) {
      flex-direction: column;
      gap: 1rem;
    }
}

.sign-in-button {
    margin-top: 2rem;
    padding: 1rem 2rem;
    width: 100%;
    background-color: var(--inactive-blue);
    color: var(--white);
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 500;
    display: flex;
    border-radius: 6px;
    transition: 250ms;
    border: none;
    justify-content: center;
    

    &:hover {
        cursor: pointer;
        background-color: var(--dark-blue);
        }
    }

    .goal-container {
        padding: 2rem;
        border-style: solid 4px white;
        border-color: white;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
  
      }
  