.root {
    height: var(--app-height);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10rem;
    padding: 2rem;
 
  
    @media(max-width: 1550px) {
      gap: 4rem;
    }
  
    @media(max-width: 1200px) {
      gap: 0;
      flex-direction: column;
      justify-content: space-between;
    }
  
    @media(max-width: 470px) {
      padding: 2rem 1.5rem 3rem 1.5rem;
    }
  }

  .logo-container-sign-up {
    z-index: 1;
    position: absolute;
    top: 2rem;
    left: 3rem;
    display: flex;
    justify-content: start;
    gap: .5rem; 

    @media(max-width: 1200px) {
      position: unset;
      order: -1;
    }
  
    @media(max-width: 640px) {
      flex-direction: column;
      gap: 1rem;
    }
}

.inputfield {
    width: 100%;
    padding: 1rem 2rem;
    border: none;
    border-radius: 6px;
    margin-top: 0.25rem;
}

.sign-in-button {
    margin-top: 2rem;
    padding: 1rem 2rem;
    width: 100%;
    background-color: var(--inactive-blue);
    color: var(--white);
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 500;
    display: flex;
    border-radius: 6px;
    transition: 250ms;
    border: none;
    justify-content: center;
    

    &:hover {
        cursor: pointer;
        background-color: var(--dark-blue);
        }
    }

    .confirm-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    .confirm-h1 {
      display: flex;

    }

    .confirm-text-container {
      
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 16rem;
      width: 40%;
      gap: 2.5rem;
      border-radius: 6px;
      background-color: #263245;
    }


