.root {
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1023px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
    overflow-y: auto;
    height: min-content;
  }

  @media (max-width: 640px) {
    gap: 0rem;
  }
}

.data-field {
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;

  @media (max-width: 1023px) {
    margin-top: 6rem;
  }

  @media (max-width: 640px) {
    margin-top: -.9rem;
  }

  @media (max-width: 460px) {
    padding: 2rem 1.2rem;
  }

  .name {
    width: 100%;
    max-width: 45rem;

    h1 {
      line-height: 1rem;
      font-size: 2.2rem;
    }
  
    p {
      max-width: 25rem;
      font-size: 1rem;
      font-weight: 100;
      line-height: 1rem;
      color: var(--text-grey);
    }

    @media (max-width: 640px) {
      h1 {
        font-size: 1.8rem;
        margin-bottom: 0;
      }
    }
  }

  .intake-data {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 45rem;
    max-height: 30rem;
    gap: 1.5rem;

    @media(max-width: 1180px) {
      height: 20rem;
    }

    @media(max-width: 640px) {
      height: 18rem;
      margin-top: 2rem;
    }

    @media(max-width: 460px) {
      gap: 1rem;
    }

    .percentage {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border: 1px solid var(--white);
      background-color: var(--bg);
      border-radius: 6px;

      svg{
        scale: 150%;
        margin-bottom: 1.4rem;

        @media(max-width: 640px) {
          scale: 100%;
          margin-bottom: 0;
        }
      }

      @media(max-width: 640px) {
        border-color: var(--border-grey);
      }

      h3 {
        font-size: 7rem;
        line-height: 0;
        margin: 3.5rem 0;

        @media(max-width: 1180px) {
          font-size: 5rem;
          margin: 2.5rem 1rem;
        }

        @media(max-width: 640px) {
          font-size: 4rem;
          margin: 1.5rem 2rem;
        }

        @media(max-width: 390px) {
          font-size: 3.5rem;
          margin: 1.5rem 1rem;
        }
      }

      p {
        color: var(--border-grey);

        @media(max-width: 460px) {
          font-size: .9rem;
        }
      }
    }

    .intake {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      height: 100%;

      svg{
        scale: 150%;
        margin-bottom: 1rem;

        @media(max-width: 640px) {
          scale: 100%;
          margin-bottom: 0;
        }
      }

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50%;
        border: 1px solid var(--white);
        background-color: var(--bg);
        border-radius: 6px;

        @media(max-width: 640px) {
          border-color: var(--border-grey);
        }

        h3 {
          font-size: 2.3rem;
          line-height: 0;
          margin: 1.5rem 0;

          @media(max-width: 1180px) {
            font-size: 1.8rem;
            margin: 1rem 0;
          }

          @media(max-width: 640px) {
            font-size: 1.5rem;
            font-weight: 100;
            margin-top: 1.5rem;
          }

          @media(max-width: 460px) {
            font-size: 1.2rem;
            margin-top: 1rem;
            margin-bottom: .5rem;
          }
        }

        p {
          line-height: 0;
          color: var(--border-grey);

          @media(max-width: 460px) {
            font-size: .9rem;
          }
        }
      }
    }
  }

  .curiosa {
    text-align: center;
    max-width: 35rem;

    @media (max-width: 1023px) {
      display: none;
    }

    p:first-child {
      color: var(--white);
      font-size: 1.1rem;
      margin-bottom: -.5rem;
    }

    p:last-child {
      line-height: 1.5rem;
      color: var(--text-grey);
    }
  }
}

.interaction-field {
  position: relative;
  z-index: 2;
  width: 30rem;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.257);
  height: 100%;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;

  @media (max-width: 1023px) {
    width: 100%;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 0;
  }

  @media (max-width: 640px) {
    background-color: transparent;
  }

  @media (max-width: 460px) {
    padding: 2rem 1.2rem;
  }

  .add-intake-container {
    width: 100%;
    margin-top: 4rem;

    .iconbtn {
      position: relative;

      @media(max-width: 1023px) {
        top: -.32rem;
      }

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
      }
    }

    @media (max-width: 1023px) {
      position: absolute;
      top: -.5rem;
      overflow-x: scroll;
      width: 100%;
      padding-left: 2rem;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
      margin-top: 6rem;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    @media (max-width: 460px) {
      padding-left: 1.2rem;
    }

    p {
      margin-left: .5rem;
    }

    .btn-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: .6rem;

      @media (max-width: 1023px) {
        flex: none;
        width: 100%;
        display: inline-block;
        white-space: nowrap;
      }
      
      button {
        width: 8rem;
        height: 4rem;
        border-radius: 6px;
        border: none;
        background-color: var(--primary-blue);
        color: var(--white);
        font-size: 1.1rem;
        transition: 250ms;

        @media (max-width: 1023px) {
          margin-right: .8rem;
      
        }

        &:hover {
          background-color: var(--dark-blue);
          cursor: pointer;
        }
      }
    }
  }

  .add-intake-title {
    width: 100%;
    margin-left: .5rem;
    position: relative;
    top: 5.5rem;

    @media(max-width: 1023px) {
      position: initial;
    }
  }

  .history-title {
    width: 100%;
    margin-left: .5rem;
    position: relative;
    top: 1.5rem;

    @media(max-width: 1023px) {
      position: initial;
      margin-top: 5rem;
      margin-bottom: -.5rem;
    }
  }

  .history-container {
    width: 100%;
    overflow-y: auto;
    padding-right: .5rem;

    @media(max-width: 1023px) {
      overflow-y: visible;
      padding-right: 0;
    }

    ul {
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin: 0;

      li {
        border-radius: 6px;
        padding: 1rem;
        width: 100%;
        background-color: var(--card-bg);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;

        @media(max-width: 460px) {
          position: relative;
        }

        .date {
          display: flex;
          flex-direction: column;
          align-items: center;
          border-right: 1px solid var(--border-grey);
          padding-right: 1rem;

          .day {
            font-size: 1.4rem !important;
            font-weight: bold;
          }
          
          p {
            font-size: .8rem;
            line-height: 0px;
            margin: .7rem;
          }
        }

        .history-intake {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-right: auto;

          p {
            line-height: 0;
            margin: .9rem .8rem;

            &:first-child {
              color: var(--border-grey);
              font-size: .9rem;
            }

            
            &:last-child {
              font-size: 1.4rem;
            }
          }
        }

        .icon-indicator {
          padding: 1.2rem 1.4rem;
          background-color: var(--bg);
          border-radius: 6px;

          @media(max-width: 405px) {
            position: absolute;
            top: .6rem;
            right: .6rem;
            padding: .3rem .4rem .1rem .5rem;

            svg {
              scale: 75%;
            }
          }

          @media(max-width: 355px) {
            display: none;
          }
        }
      }
    }
  }
}

.bubbleOne {
  position: absolute;
  bottom: 30%;
  left: 40%;

  @media (max-width: 2100px) {
    left: 30%;
  }

  @media (max-width: 1800px) {
    height: auto;
    width: 1300px;
  }

  @media (max-width: 1023px) {
    width: 1000px;
    bottom: 65%;
    left: 40%;
  }

  @media (max-width: 640px) {
    width: 600px;
    bottom: 70%;
    left: 15%;
    opacity: .6;
  }
}

.menu {
  position: absolute;
  z-index: 6;
  border: 1px solid var(--white);
  padding: .6rem;
  border-radius: 6px;
  position: absolute;
  right: 2rem;
  transition: 250ms;
  top: 2rem;
  right: 2.5rem;

  &:hover {
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
    cursor: pointer;
  }

  @media(max-width: 460px) {
    right: 1.5rem;
  }
}

.bubbleTwo {
  position: absolute;
  top: 75%;
  right: 85%;
  height: auto;
  width: 500px;
  opacity: .25;

  @media(max-width: 1023px) {
    display: none;
  }
}

.no-history {
  color: var(--border-grey);
  margin: 0;
}

.logo-container {
  position: absolute;
  top: 2rem;
  left: 3rem;
  cursor: pointer;

  @media(max-width: 640px) {
    display: none;
  }
}

.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.699);
}